---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Do you know about Don Meon?">
    <section class="main3">

        <h1>About Don Meon</h1>
        <div class="aboutcon">`
            <div>
                <img src="../public/images/donmeon4.jpg" alt="Don Meon" />
            </div>

            <div>
                <p class="abouttxt">Don Meon is a renowned gospel artist known for his soul-stirring music and uplifting lyrics. With a career spanning over a decade, he has touched the hearts of many with his unique blend of contemporary and traditional gospel sounds.
                <br>His albums have consistently topped the charts, and his live performances are celebrated for their energy and spiritual depth. Don Meon's dedication to his craft and his message of hope and faith continue to inspire fans around the world.
                <br>Explore this site to learn more about his latest news, music releases, and upcoming events.</p>
            </div>
        </div>
    </section>
</Layout>


