---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <section class="main">
        <h1>Welcome to Don Meon's Music Artist Page</h1>
        <img src="../public/images/DonMeon.png" alt="Don Meon" />
        <h2>Relax and get to know about my favorite artist, Don Meon</h2>
    </section>
    
</Layout>

