        <section class="intro-section">
            <main class="intro-main">
                <div class="intro-text">
                    <h4>Student ID:3166628</h4>
                <a href ="index.html">
                    <h1>Blessing Ijeoma Ezeja</h1>
                </a>
                <p>I am an international student in Dublin, Ireland</p>
                <p>I am studying a Masters degree programme in Griffith College</p>
                </div>
                <div class="intro-img"></div>
            </main>
        </section>
    <style>
    .intro-section{
    width: auto;
    height: 100vh;
    background-image: url(images/me.png);
    background-size: 600px auto;
    background-position: right;
    background-repeat: no-repeat;
    padding:0 5%;
    }
    </style>
