*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navigation{
    background-color: burlywood;
    padding: 10px 0;
    padding-left: 20px;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navigation a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navigation a:hover{
    color: white;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;

}
footer{
    text-align: center;
    margin-top: 40px;
    color: #777;
    margin-top: auto;
}   
header, footer {
    background-color: burlywood;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main{
    padding: 3%;
    height: 100vh;
    width: 100%;
    margin: 3%;
}
.main img{
    width: 80%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.blogCon{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    height: 100vh;
}
.blogs ul{
    list-style-type: none;
    
}
.blogs ul a{
    text-decoration: none;
    color: black;
}

.main2{
    padding: 3%;
    height: 100vh;
    width: 100%;
    margin: 3%;
}

.main2 h1{
    margin-bottom: 20px;
}

#playlist {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

#add-song-form {
    margin: 20px;
}

#shuffleBtn {
    font-size: larger;
    margin: 20px;
    padding: 10px 20px;
    background-color: burlywood;
    border: none;
    color: rgb(26, 25, 25);
    cursor: pointer;
    border-radius: 10px;    
}

.blogPost{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.blogPost h1{
    margin-bottom: 20px;
}

.blogPost img{
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}
.main3{
    padding: 3%;
    height: 100vh;
    width: 100%;
    margin: 3%;
    
}
.main3 h1{
    text-align: center;
    margin-bottom: 20px;
}
.aboutcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.abouttxt{
    font-size: larger;
    line-height: 1.6;
}