*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navigation a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navigation a:hover{
    color: white;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;

}
footer{
    text-align: center;
    margin-top: 40px;
    color: #777;
    margin-top: auto;
}   
header, footer {
    background-color: burlywood;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main{
    padding: 3%;
    height: 100vh;
    width: 100%;
    margin: 3%;
}
.main img{
    width: 80%;
    height: auto;
    display: block;
    margin-top: 20px;
}

.blogCon{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    height: 100vh;
}
.blogs ul{
    list-style-type: none;
    text-decoration: none;
}